<div class="gallery-container">
    <div class="gallery-item" style="background-image: url('assets/image1.jpg');">
      <div class="overlay">
        <span class="item-title">Magna</span>
      </div>
    </div>
    <div class="gallery-item" style="background-image: url('assets/image2.jpg');">
      <div class="overlay">
        <span class="item-title">Lorem</span>
      </div>
    </div>
    <div class="gallery-item" style="background-image: url('assets/image3.jpg');">
      <div class="overlay">
        <span class="item-title">Feugiat</span>
      </div>
    </div>
    <div class="gallery-item" style="background-image: url('assets/image4.jpg');">
      <div class="overlay">
        <span class="item-title">Tempus</span>
      </div>
    </div>
    <div class="gallery-item" style="background-image: url('assets/image5.jpg');">
      <div class="overlay">
        <span class="item-title">Aliquam</span>
      </div>
    </div>
    <div class="gallery-item" style="background-image: url('assets/image6.jpg');">
      <div class="overlay">
        <span class="item-title">Veroeros</span>
      </div>
    </div>
  </div>
  