<app-navbar></app-navbar>

<main class="dashboard">
  <h1>Company Situation</h1>

  <!-- Information cards section -->
  <section class="info-cards">
    <div class="card">
      <h2>Revenue</h2>
      <p>€ 220,000</p>
    </div>
    <div class="card">
      <h2>Monthly Expenses</h2>
      <p>€ 80,000</p>
    </div>
    <div class="card">
      <h2>Active Projects</h2>
      <p>8 projects</p>
    </div>
    <div class="card">
      <h2>Number of Employees</h2>
      <p>25</p>
    </div>
  </section>

  <!-- Charts section -->
  <section class="charts">
    <!-- Combined Chart (Bar + Linear) -->
    <div class="chart">
      <div>
        <canvas id="myChart"></canvas>
      </div>
      <div class="lchart">
        <canvas id="myLinearChart"></canvas>
      </div>
    </div>

    <!-- Pie Chart -->
    <div class="piechart" id="projects-progress-chart">
      <div class="pchart">
        <canvas id="myPieChart"></canvas>
      </div>
    </div>
  </section>
</main>
