<!-- Ancien code commenté
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PeakPerform</a>
    <div class="d-flex">
      <button class="btn btn-outline-primary" (click)="onLogin()">Login</button>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <h1>Welcome to PeakPerform</h1>
  <p>Manage your projects and optimize your management systems effectively.</p>
</div>
-->

<!-- Nouveau code -->
<div class="home-container">
    <div class="overlay-left">
      <h1>PeakPerform</h1>
      <p>
        "Peakperform is an innovative project management platform designed to help 
        teams and organizations efficiently plan, organize, and track 
        their projects. By incorporating structured task and subtask 
        management, PeakPerform streamlines goal achievement and enhances
         overall performance."</p>
      <a href="login" class="login-btn">Login</a>
    </div>
    <div class="right-side"></div>
  </div>
