/* Style global de la barre de navigation verticale */
.navbar-vertical {
  margin-top: 10px;
  width: 250px;
  background: linear-gradient(135deg, #094f9f, #1d7ad7);
  color: #fff;
  height: calc(100vh - 55px); /* Ajustez la hauteur pour ne pas chevaucher la navbar horizontale */
  padding: 20px;
  position: fixed;
  top: 55px; /* Espace réservé pour la navbar horizontale */
  left: 0;
  overflow-y: auto;
  z-index: 1000; /* Assurez-vous que la navbar verticale reste derrière la navbar horizontale */
}

/* Ajustement du contenu principal */
.content {
  margin-left: 250px; /* Décaler le contenu principal à droite pour éviter le chevauchement avec la navbar */
  padding: 20px;
}

/* Menu de la navbar */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu > li > a {
  text-decoration: none;
  color: #ffffff; /* Texte en blanc */
  font-weight: bold;
  padding: 10px;
  display: block;
  border-radius: 4px;
  transition: all 0.3s ease;
}

/* Effet de survol */
.menu > li > a:hover {
  background-color: #ffffff; /* Fond blanc au survol */
  color: #094f9f; /* Texte bleu au survol */
}

/* Sous-menu */
.submenu {
  list-style: none;
  padding-left: 20px;
  display: none;
}

.menu li:hover .submenu {
  display: block;
}

.submenu li a {
  text-decoration: none;
  color: #ffffff; /* Texte en blanc pour le sous-menu */
  font-weight: normal;
  padding: 8px 10px;
  display: block;
  border-radius: 4px;
  transition: all 0.3s ease;
}

/* Effet de survol pour le sous-menu */
.submenu li a:hover {
  background-color: #277bcf;
  color: #ffffff; /* Garder le texte blanc au survol */
}

/* Suppression du soulignement des liens */
.navbar-vertical .menu li a {
  text-decoration: none;
  color: #ffffff; /* Assurez-vous que tous les liens sont en blanc */
  font-weight: bold;
  padding: 10px;
  display: block;
  border-radius: 4px;
}

/* Effet de survol global */
.navbar-vertical .menu li a:hover {
  background-color: #277bcf;
  color: #ffffff;
}
