 <app-navbar></app-navbar>

<!-- <app-navbarvertical></app-navbarvertical> -->



<div class="main-content">
  <div class="sidebar-left">
      <div style="display: flex; align-items: center; gap: 10px;">
          <h2 style="margin: 0;">- Employee Qualifications:</h2>
          <div style="width: 300px;">
            <mat-slider
              min="0"
              max="10"
              step="1"
              showTickMarks
              discrete
              [displayWith]="formatLabel"
              
              >
              
              <input matSliderThumb 
              [value]="selectedQualification"
              (valueChange)="update_chart_value($event, 0)">
            </mat-slider>
          </div>
      </div>

      <div style="display: flex; align-items: center; gap: 10px;">
          <h2 style="margin: 0;">- Working Environment:</h2>
          <div style="width: 300px;">
            <mat-slider
              min="0"
              max="10"
              step="1"
              showTickMarks
              discrete
              [displayWith]="formatLabel">
              <input matSliderThumb
              [value]="selectedWorkenv"
              (valueChange)="update_chart_value($event, 1)">
            </mat-slider>
          </div>
      </div>

      <div style="display: flex; align-items: center; gap: 10px;">
          <h2 style="margin: 0;">- Quality Management:</h2>
          <div style="width: 300px;">
            <mat-slider
              min="0"
              max="10"
              step="1"
              showTickMarks
              discrete
              [displayWith]="formatLabel">
              <input matSliderThumb
              [value]="selectedQuality"
              (valueChange)="update_chart_value($event, 2)">
            </mat-slider>
          </div>
      </div>

      <div style="display: flex; align-items: center; gap: 10px;">
          <h2 style="margin: 0;">- Lead Time:</h2>
          <div style="width: 300px;">
            <mat-slider
              min="0"
              max="10"
              step="1"
              showTickMarks
              discrete
              [displayWith]="formatLabel">
              <input matSliderThumb
              [value]="selectedLeadtime"
              (valueChange)="update_chart_value($event, 3)">
            </mat-slider>
          </div>
      </div>

      <div style="display: flex; align-items: center; gap: 10px;">
          <h2 style="margin: 0;">- Capacity:</h2>
          <div style="width: 300px;">
            <mat-slider
              min="0"
              max="10"
              step="1"
              showTickMarks
              discrete
              [displayWith]="formatLabel">
              <input matSliderThumb
              [value]="selectedCapacity"
              (valueChange)="update_chart_value($event, 4)">
            </mat-slider>
          </div>
      </div>

      <div style="display: flex; align-items: center; gap: 10px;">
          <h2 style="margin: 0;">- Economic Situation:</h2>
          <div style="width: 300px;">
            <mat-slider
              min="0"
              max="10"
              step="1"
              showTickMarks
              discrete
              [displayWith]="formatLabel">
              <input matSliderThumb
            [value]="selectedEconomic"
              (valueChange)="update_chart_value($event, 5)">
            </mat-slider>
          </div>
      </div>

      <div style="display: flex; align-items: center; gap: 10px;">
          <h2 style="margin: 0;">- Independance from Suppliers:</h2>
          <div style="width: 300px;">
            <mat-slider
              min="0"
              max="10"
              step="1"
              showTickMarks
              discrete
              [displayWith]="formatLabel">
              <input matSliderThumb
              [value]="selectedIndependance"
              (valueChange)="update_chart_value($event, 6)">
            </mat-slider>
          </div>
      </div>

      <div style="display: flex; align-items: center; gap: 10px;">
          <h2 style="margin: 1000;">- Equity Capital:</h2>
          <div style="width: 300px;">
            <mat-slider
              min="0"
              max="10"
              step="1"
              showTickMarks
              discrete
              [displayWith]="formatLabel"
              >
              <input matSliderThumb
              [value]="selectedCapital" 
              (valueChange)="update_chart_value($event, 7)">
            </mat-slider>
          </div>
      </div>

    <div [hidden]="hide_update_value">
      <button (click)="cancel()">cancel</button>
      <button (click)="updateTask()">Update</button>
    </div>
  </div>
  
  <div class="sidebar-right">
    <canvas #radarChartCanvas  style="width: 100%; height: 100%;"></canvas>
  </div>      
  
        
  




  <div class="bottom-section">
    <!-- Liste des sous-tâches -->
    <div class="subtask-list">
      <ul>
        <div *ngFor="let subTask of subtasks; let i = index">
          <li class="subtask-item">
            <!-- Icône "done" cliquable -->
            <mat-icon
              class="clickable"
              style="font-size: 26px;"
              [ngStyle]="{'color': subTask.isChecked === 1? 'blue' : '#ccc'}"
              (click)="toggleSubTask(subTask)">
              done
            </mat-icon>
        
            <!-- Titre ou nom de la sous-tâche -->
            {{ subTask[1] }}
        
            <!-- Bouton de suppression -->
            <button mat-icon-button color="warn" (click)="deleteSubTask(subTask[0])">
              <mat-icon>delete</mat-icon>
            </button>
          </li>
        </div>
      </ul>
  
      <!-- Champ d'ajout de sous-tâche -->
      <div style="max-width: 500px; margin: auto; display: flex; align-items: center; gap: 10px;">
        <input class="modern-input" [(ngModel)]="newSubTaskName" placeholder="Enter new subtask">
        <button class="modern-button" (click)="addsubTask()">Add</button>
      </div>
    </div>
  
    <!-- Diagramme circulaire -->
    <div class="circle-diagram">
      <div class="container">
        <div class="text-section">
          <h1>Problem</h1>
          <p>Substantiate your definition of the problem with a chart of your choice from the object panel, and add details here.</p>
        </div>
        <div class="chart-section">
          <canvas #doughnutChart></canvas>
        </div>
      </div>
    </div>
  </div>
  

</div>


