<div class="task-details">
  <h1>Task Details</h1>
</div>
<div class="main-content">
  <div class="sidebar-left">
      <div style="display: flex; align-items: center; gap: 10px;">
          <h2 style="margin: 0;">- Employee Qualifications:</h2>
          <div style="width: 300px;">
            <mat-slider
              min="0"
              max="10"
              step="1"
              showTickMarks
              discrete
              [displayWith]="formatLabel"
              
              >
              
              <input matSliderThumb 
              [value]="selectedQualification"
              (valueChange)="update_chart_value($event, 0)">
            </mat-slider>
          </div>
      </div>

      <div style="display: flex; align-items: center; gap: 10px;">
          <h2 style="margin: 0;">- Working Environment:</h2>
          <div style="width: 300px;">
            <mat-slider
              min="0"
              max="10"
              step="1"
              showTickMarks
              discrete
              [displayWith]="formatLabel">
              <input matSliderThumb
              [value]="selectedWorkenv"
              (valueChange)="update_chart_value($event, 1)">
            </mat-slider>
          </div>
      </div>

      <div style="display: flex; align-items: center; gap: 10px;">
          <h2 style="margin: 0;">- Quality Management:</h2>
          <div style="width: 300px;">
            <mat-slider
              min="0"
              max="10"
              step="1"
              showTickMarks
              discrete
              [displayWith]="formatLabel">
              <input matSliderThumb
              [value]="selectedQuality"
              (valueChange)="update_chart_value($event, 2)">
            </mat-slider>
          </div>
      </div>

      <div style="display: flex; align-items: center; gap: 10px;">
          <h2 style="margin: 0;">- Lead Time:</h2>
          <div style="width: 300px;">
            <mat-slider
              min="0"
              max="10"
              step="1"
              showTickMarks
              discrete
              [displayWith]="formatLabel">
              <input matSliderThumb
              [value]="selectedLeadtime"
              (valueChange)="update_chart_value($event, 3)">
            </mat-slider>
          </div>
      </div>

      <div style="display: flex; align-items: center; gap: 10px;">
          <h2 style="margin: 0;">- Capacity:</h2>
          <div style="width: 300px;">
            <mat-slider
              min="0"
              max="10"
              step="1"
              showTickMarks
              discrete
              [displayWith]="formatLabel">
              <input matSliderThumb
              [value]="selectedCapacity"
              (valueChange)="update_chart_value($event, 4)">
            </mat-slider>
          </div>
      </div>

      <div style="display: flex; align-items: center; gap: 10px;">
          <h2 style="margin: 0;">- Economic Situation:</h2>
          <div style="width: 300px;">
            <mat-slider
              min="0"
              max="10"
              step="1"
              showTickMarks
              discrete
              [displayWith]="formatLabel">
              <input matSliderThumb
            [value]="selectedEconomic"
              (valueChange)="update_chart_value($event, 5)">
            </mat-slider>
          </div>
      </div>

      <div style="display: flex; align-items: center; gap: 10px;">
          <h2 style="margin: 0;">- Independance from Suppliers:</h2>
          <div style="width: 300px;">
            <mat-slider
              min="0"
              max="10"
              step="1"
              showTickMarks
              discrete
              [displayWith]="formatLabel">
              <input matSliderThumb
              [value]="selectedIndependance"
              (valueChange)="update_chart_value($event, 6)">
            </mat-slider>
          </div>
      </div>

      <div style="display: flex; align-items: center; gap: 10px;">
          <h2 style="margin: 1000;">- Equity Capital:</h2>
          <div style="width: 300px;">
            <mat-slider
              min="0"
              max="10"
              step="1"
              showTickMarks
              discrete
              [displayWith]="formatLabel"
              >
              <input matSliderThumb
              [value]="selectedCapital" 
              (valueChange)="update_chart_value($event, 7)">
            </mat-slider>
          </div>
      </div>

    <div [hidden]="hide_update_value">
      <button (click)="cancel()">cancel</button>
      <button (click)="updateTask()">Update</button>
    </div>
  </div>
  
  <div class="sidebar-right">
    <canvas #radarChartCanvas  style="width: 100%; height: 100%;"></canvas>
  </div>      
  
        
  

</div>


<div class="bottom-section">
<!-- Section gauche : Liste des sous-tâches -->
<div class="subtask-list">



</div>

<!-- Section droite : Diagramme circulaire -->
<div class="circle-diagram">
  <div class="container">
    <div class="text-section">
      <h1>Problem</h1>
      <p>Substantiate your definition of the problem with a chart of your choice from the object panel, and add details here.</p>
    </div>
    <div class="chart-section">
      <canvas #doughnutChart></canvas>
    </div>
  </div>
</div>
</div>
